// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-orange: #fdc0a0;
$light-gray: #F4F4F4;
$box-shadow: 0 1.5rem 4rem rgba(black, .15);
