.challenge-show-page {
  // display: flex;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
}

.challenge-show-title {
  padding-top: 35px;
  padding-bottom: 25px;
  font-size: 70px;
  color: grey;
  font-family: 'Sniglet', extra-bold;
  color: #E55137;
  opacity: 0.5;
}


.challenge-show-image {
  padding: 30px;
  background-color: hsl(162, 44%, 67%);
  box-shadow: $box-shadow;
  border-radius: 8px;
}

.challenge-details {
  background-color: hsl(192, 25%, 92%);
  border-radius: 10px;
  padding: 20px;
  color: grey;
}

.challenge-details p {
  font-family: 'Sniglet', extra-bold;
}

.participants {
  display: flex;
  background-color: hsl(192, 25%, 92%);
  border-radius: 10px;
  padding: 15px;
  color: grey;
  margin-bottom: 35px;
}

.participant-list {
  padding-left: 20px;
}

.show-name {
  text-decoration: none;
  font-family: 'Sniglet', extra-bold;
  color: grey;
}

.challenge-show-ecopals {
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-top: 20px;
  font-family: 'Sniglet', extra-bold;
  color: #E55137;
  opacity: 0.5;
}

#map {
  margin-bottom: 35px;
}

.show-name  {
  padding-left: 15px;
}
