.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  // grid-row-gap: 140px;
  margin-bottom: 40px;
}

.card {
  margin: 10px;
  box-shadow: $box-shadow;
  height: 400px;
}

.image-container {
  padding: 10px;
  border-style: solid;
  margin: 20px;
  border-width: 0.1px;
  border-color: rgba(0,0,0, 0.3);
  background-color: hsl(50, 100%, 52%);
  display: flex;
  justify-content: center;
  height: 300px;
}

.image-container img {
  width: 125%;
}

.image-text {
  text-align: center;
  padding: 20px;
  font-size: 19px;
  font-weight: bold;
}

.image-text a {
  text-decoration: none;
  color: grey;
  font-weight: bold;
}
// .image-text a:hover {
//  color: hsl(162, 44%, 67%);
// }

.index-page-title {
  padding-top: 35px;
  padding-bottom: 25px;
  font-size: 45px;
  color: grey;
  font-weight: bold;

}

.index-page-button {
  color: white;
  padding: 20px;
  background-color: hsl(183, 68%, 89%);
  margin-bottom: 20px;
  border-radius: 5px;
  margin-bottom: 40px;
}

.index-page-button a {
  text-decoration: none;
  color: hsl(180, 4%, 64%);
  font-size: 20px;
}

#image-container-flip {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: hsl(162, 44%, 67%);
}

#image-container-flip p {
  color: grey;
  font-weight: bold;
  font-size: 18px;

}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
}
    /* flip the pane when hovered */
    .flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(180deg);
    }

.flip-container, .front, .back {
    width: 320px;
    height: 400px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

.leaderboard {
  padding-top: 10px;
  padding-left: 20px;

  table {
    width: 100%;

    tr {
      display: flex;
      align-items: center;
      justify-content: space-between;

      th {
        width: 100%;
        text-align: left;
        font-size: 12px;

        a {
          color: black;
        }

        img {
          width: 30px;
        }
      }

      th:last-of-type {
        color: #cdcdcd;
      }
    }

    tr:not(:last-of-type) {
      padding-bottom: 7px;
      margin-bottom: 8px;
      border-bottom: 1px solid #eaeaea;
    }
  }
}

.top-five {
  padding: 16px;
  background-color: white;
  box-shadow: $box-shadow;

}

.top-five h4 {
  padding-bottom: 7px;
  margin-bottom: 16px;
  border-bottom: 1px solid;
  font-size: 16px;
  font-weight: bold;
  color: hsl(50, 100%, 53%);

  img {
    margin-right: 10px;
    height: 15px;
  }
}


.index-page-flex {
  display: flex;
}

.index-page-title a {
  text-decoration: none;
  color: hsl(161, 42%, 68%);
}

.index-page-title a:hover {
  color: #ef8686;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
