body {
  /* DO NOT CHANGE */
  margin: 0;
}

.site {
  /* DO NOT CHANGE */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.background-image {
  background-color: white;
  opacity: 0.1;
}

.main-container {
  /* DO NOT CHANGE */
  flex: 1;
  overflow: hidden;
}

.alert-info {
  z-index: 3000;
  font-family: 'Sniglet', extra-bold;
}

.alert {
  width: 200px;
  height: 200px;
  background-color: white;
}

.navbar {
  background-color: white;
  color: white;
  padding: 16px 0;

#transparent-navbar {
  background-color: rgba(0, 0, 0, 0);
}
  /*
  ADD THE FOLLOWING FOR A STICKY NAVBAR

  position: fixed;
  width: 100vw;
  */
}

.footer {
  background-color: white;
  color: (0, 0, 0, 0.5);
  padding: 16px 0;
}

.dropdown-menu {
  z-index: 2000;
  border: 0px;
}

.dropdown-item {
  color: grey;
}
