
.form-container {
  width: 800px;
  height: 450px;
  margin: 90px auto;
  display: flex;
  justify-content: space-between;
  box-shadow: $box-shadow;
  position: relative;
  z-index: 1;
}

.form-image {
  width: 400px;
  position: relative;
  z-index: 1;
}

.form {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: 400px;
  background-color: #fff;
}

.pal-form {
  z-index: 2000;
  height: 20px;
}

.inform-pal {
  position: absolute;
  z-index: 10000;
  top: -7px;

  .bubble {
    top: 40px;
    position: absolute;
    left: 180px;
  }
}

#log-in-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: rgb(234, 112, 112);
  border-color: rgb(234, 112, 112);
}

#log-in-btn:hover {
  text-decoration: none;
  background-color: rgb(234, 130, 112);
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .bubble {
    display: none;
  }
  .inform-pal {
    display: none;
  }

  .form {
    width: 543px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .form {
    width: 399px;
  }
  .inform-pal .bubble {
    top: 6px;
  }
}

