
.form-container {
  width: 800px;
  height: 450px;
  margin: 90px auto;
  display: flex;
  justify-content: space-between;
  box-shadow: $box-shadow;
  position: relative;
  z-index: 1;
}

.form-image {
  width: 400px;
  position: relative;
  z-index: 1;
}

.form {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: 400px;
  background-color: #fff;
}

.pal-form {
  z-index: 2000;
  height: 20px;
}

.inform-pal {
  position: absolute;
  z-index: 10000;
  top: -7px;

  .bubble {
    top: 40px;
    position: absolute;
    left: 180px;
  }
}
