
.form-container-signup {
  width: 920px;
  height: 500px;
  background-color: #fff;
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
  box-shadow: $box-shadow;
  position: relative;
  z-index: 1;
}

.form-image-signup {
  width: 414px;
}

.form-signup {
  padding: 12px;
  display: flex;
  align-items: center;
  margin: 0 40px;
  width: 506px;
}

.form-inputs-signup {
  width: 400px;
}

.main-container--signup {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.form-wrapper {
    height: 100%;
    width: 100%;
    opacity: 0.2;
    position: absolute;
    filter: blur(4px);
}
