<h1> These are your badges </h1>
<% @badges.each do |badge| %>
<%= badge.title %>
<%= image_tag badge.icon %>
<% end %>

<!-- Might be okay to delete this file, made it before the other dashboard -->
