<div class="footer">
  <div class="footer-copyright">
    Coded with <i class="fas fa-heart"></i> by
  <div class="footer-links">
    <a href="https://github.com/akellos"><i id = "moritz" class="fab fa-github"></i></a>
    <a href="https://github.com/missevia"><i id = "evia" class="fab fa-github"></i></a>
    <a href="https://github.com/greentea-latte"><i id = "lila" class="fab fa-github"></i></a>
    <a href="https://github.com/AhmadMajid"><i id = "ahmad" class="fab fa-github"></i></a>
  </div>
  </div>
  <div class ="copyright"> Copyright &copy; 2019 ecopal</div>

</div>
