<div class="footer">
  <div class="footer-links">
    <a href="#"><i id = "ahmad" class="fab fa-github"></i></a>
    <a href="#"><i id = "evia" class="fab fa-github"></i></a>
    <a href="#"><i id = "lila" class="fab fa-github"></i></a>
    <a href="#"><i id = "moritz" class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
