<h1>DASHBOARD</h1>




  <div>
    <% if current_user == @user %>
      <h2>Your Challenges:</h2>
      <div class="">
        <% @trackers.each do |tracker| %>
          <div class="">
            tracker.challenge.name
            <% tracker.time.each do |day| %>
              <div class="grey-btn"><%= day %></div>
            <% end %>
          </div>

        <% end %>
      </div>
    <% else %>
    <% end %>
  </div>



