<h1>DASHBOARD</h1>



<% @user.trackers.each do |tracker| %>
  <p>You have joined the following challenges:</p>
  <p>Name of user: <%= tracker.user.name %></p>
  <p>Name of the Challenge: <%= tracker.challenge.name %></p>
  <p>Days since last login: <%= @days %></p>
  <div>
    <% if current_user == @user %>
      <p>Check your progress:</p>
      <% @list_of_days.each do |day| %>
        <div class="grey-btn"><%= day.strftime("%A") %></div>
      <% end %>
    <% else %>
    <% end %>
  </div>
<% end %>
