  <div class="banner" style="background-image: url(<%= image_path "background.png" %>)">
    <div class="pal pal-landing" style="background-image: url(<%= image_path "pal.png" %>)">
    </div>
    <div class="bubble bubble-landing at-item">
      <p>Hi there!</p>
      <p>Please scroll down...</p>
    </div>
    <%= link_to "START", challenges_path, class: "grey-btn btn-landing" %>
  </div>
