<h1><%= @challenge.name %></h1>

<%= cl_image_tag @challenge.image, height: 300, width: 400, crop: :fill %>
<p><%= link_to "Join this challenge", dashboard_path  %></p>
<%= link_to edit_challenge_path(@challenge) do %>
  Edit
<% end %>


