.grey-btn {
  text-align: center;
  display: block;
  margin: 10% auto;
  width: 120px;
  padding: 10px;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  background: linear-gradient(#FFFFFF 40%, #EEEEEE 60%);
  background-color: blue;
  border: 3px solid #FFFFFF;
  // outline: 3px solid #D5D5D5;
  box-shadow: 2px 4px #AAAAAA;
  text-decoration: none;
  color: #AAAAAA;
  font-weight: bold;
}

.grey-btn:hover {
  background: linear-gradient(#EEEEEE 1%, #FFFFFF 99%);
  border: 3px solid #FFFFFF;
  // outline: 3px solid #D5D5D5;
  text-decoration: none;
  color: #939393;
  box-shadow: 0 0 0 white;
}

#grey-btn-show {
  width: 90px;
  margin-left: 0;
}

.active {
  background: rgb(143, 195, 83) !important;
}

.btn:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

.btn-landing {
  position: absolute;
  bottom: 1000px;
  margin: 0 auto;
}

// .grey-btn.active {
//   transform: translateY(1px);
//   filter: saturate(150%);
// }


// .clickable {
//   padding: 40px;
//   width: 180px;
//   border: 1px solid #dedede;
//   color: #a0a0a0;
//   margin-right: 10px;
//   margin-bottom: 10px;
//   text-align: center;
//   display: flex;
//   flex-direction: column;
//   cursor: pointer;
// }

// .clickable i {
//   font-size: 24px;
//   margin-bottom: 10px;
// }

// .clickable:hover i {
//   color: #52ACF4;
// }

// .clickable.active {
//   color: inherit;
//   border-color: inherit;
// }

// .clickable.active i {
//   color: #52ACF4;
// }





// .my-button {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   padding: 10px;
//   border-width: 1px;
//   border-radius: 5px;
//   border-style: solid;
//   border-color: rgba(0, 0, 0, 0.2);
// }

// .btn {
//   text-align: center;
// }

// #home-page-btn {
//   background-color: rgb(234, 112, 112);
//   border-color: rgb(234, 112, 112);
//   padding: 10px;
// }

// #home-page-btn:hover {
//   text-decoration: none;
//   background-color: rgb(234, 130, 112);
// }

