.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

#info-window {
  width: 200px;
  height: 200px;
  overflow-y: scroll;
  a {
    text-decoration: none;
    color: rgb(108, 178, 156);
    font-size: 18px;
  }
  a:hover {
    font-size: 19px;
  }
}

#info-window-avatar img {
  width: 40px;
  border-radius: 50%;
}

.mapboxgl-marker {
  z-index: 0 !important;
}

